extends ../layout

block content
    h1 Overdue Books
    p
      a.button(href="/new_book") Create New Book
    p
      | Filters 
      a(href="/all_books") All
      |  | 
      a(href="/overdue_books") Overdue
      |  | 
      a(href="/checked_books") Checked Out
      
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each overdueBook in overdueBooks
          tr
            td
              a(href=`/books/${overdueBook.Book.id}`) #{overdueBook.Book.title}
            td #{overdueBook.Book.author}
            td #{overdueBook.Book.genre}
            td #{overdueBook.Book.first_published}
