extends ../layout

block content
    h1 Loans
    p
      a.button(href="/new_loan") Create New Loan
    p
      | Filters 
      a(href="/all_loans") All
      |  | 
      a(href="/overdue_loans") Overdue
      |  | 
      a(href="/checked_loans") Checked Out
    table
      thead
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
      tbody
        each loan in loans
          tr
            td
              a(href=`/books/${loan.Book.id}`) #{loan.Book.title}
            td
              a(href=`/patrons/${loan.Patron.id}`) #{loan.Patron.first_name + " " + loan.Patron.last_name}
            td #{loan.loaned_on}
            td #{loan.return_by}
            td #{loan.returned_on}
            td
              if (loan.returned_on === null)
                a.button(href=`/return/${loan.id}`) Return Book
